* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.top-section {
  background-color: #f3c6bd;
}
