.footer {
  padding: 40px 0 23px 0;

  @include lg-large-up {
    padding: 43px 0 0 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 1140px;

    @include lg-large-up {
      flex-direction: row;
      margin: auto;
      justify-content: start;
    }
  }

  &__navigation {
    @include lg-large-up {
      margin-left: 126px;
    }
  }
}

.apps {
  display: flex;
  justify-content: center;

  @include lg-large-up {
    border-bottom: none;
    justify-content: start;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &__image {
      display: flex;
    }
  }

  a {
    @include lg-large-up {
      display: flex;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  @include lg-large-up {
    flex-direction: row;
  }

  &__block {
    padding: 0 15px;
    margin-top: 30px;

    @include lg-large-up {
      width: 265px;
      padding: 0;
      margin-top: 17px;
    }

    &:not(:last-child) {
      @include lg-large-up {
        margin-right: 29px;
      }
    }
  }

  &__menu {
    @include lg-large-up {
      max-height: 136px;
    }
    padding: 0;
    list-style-type: none;
    margin: 18px 0 0 0;
  }

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $color_black;
    margin: 0;
  }

  &__item {
    font-size: 18px;
    line-height: 30px;
    margin-top: 6px;

    &:first-child {
      @include lg-large-up {
        margin-top: 0;
      }
    }
  }

  &__link {
    color: $color_light_black;
    text-decoration: none;
  }
}

.footer__separator {
  height: 1px;
  background-color: $color_alt_grey;
  width: 100%;
  display: none;
  @include lg-large-up {
    display: block;
  }
}

.footer__other {
  margin-top: 30px;
  display: flex;
  max-width: 1140px;
  min-height: 50px;
  flex-direction: column;

  @include lg-large-up {
    margin: auto;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.links {
  padding: 0 15px;
  display: flex;

  @include lg-large-up {
    padding: 0;
  }

  &__item {
    font-size: 14px;
    line-height: 22px;
    color: $color_light_black;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 20px;

      @include lg-large-up {
        margin-right: 19px;
      }
    }
  }
}
